#wave {
	height: 100%;
	position: fixed;
	transform: rotate(180deg) translateY(-5rem);
	.st0 {
		opacity: 0.4;
		fill: url(#grad);
		stroke: #1a001a00;
		stroke-width: 0;
	}
	.w4 {
		animation: anim4 15s infinite forwards;
	}
	@keyframes anim4 {
		0% {
			d: path(
				'M0.5-0.5h1800v400c0,0-495,147-900,0c-367.8-133.5-900,0-900,0V-0.5z'
			);
		}
		50% {
			d: path(
				'M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z'
			);
		}
		100% {
			d: path(
				'M0.5-0.5h1800v400c0,0-495,147-900,0c-367.8-133.5-900,0-900,0V-0.5z'
			);
		}
	}

	.w3 {
		animation: anim3 15s infinite forwards;
	}
	@keyframes anim3 {
		0% {
			d: path(
				'M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z'
			);
		}
		50% {
			d: path(
				'M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z'
			);
		}
		100% {
			d: path(
				'M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z'
			);
		}
	}

	.w2 {
		animation: anim2 15s infinite forwards;
	}
	@keyframes anim2 {
		0% {
			d: path(
				'M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z'
			);
		}
		50% {
			d: path(
				'M0.5-0.5h1800v400c0,0-432.9-139-789,23c-378,172-1011-23-1011-23V-0.5z'
			);
		}
		100% {
			d: path(
				'M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z'
			);
		}
	}
}
