:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 500ms;
  --purple: #6649b8;
  --primary: hsla(259, 72%, 52%, 0.7);
  --secondary: hsla(259, 72%, 52%, 0.6);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--purple);
}

main {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: var(--bg-primary);
}

.navbar {
  position: fixed;
  z-index: 50;
  background-color: var(--bg-primary);
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

#themeButton {
  color: var(--text-secondary);
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.nav-link:hover,
#themeButton:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  cursor: pointer;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.primary {
  color: #d67eff;
}

.secondary {
  color: #c149df;
}

.primary,
.secondary {
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.theme-icon {
  display: none;
}

.dark #darkIcon,
.light #lightIcon {
  display: block;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: var(--text-secondary);
}

#note {
  width: 250px;
}

#note:hover .note-path {
  fill: var(--secondary);
  -webkit-transition: 1.1s ease-in-out;
  transition: 1.1s ease-in-out;
}

#note .note-path {
  fill: var(--bg-primary);
  stroke: var(--primary);
  stroke-width: 4;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
  stroke-dasharray: 2200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2.5s linear forwards infinite;
          animation: dash 2.5s linear forwards infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 2200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 2200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#wave {
  height: 100%;
  position: fixed;
  -webkit-transform: rotate(180deg) translateY(-5rem);
          transform: rotate(180deg) translateY(-5rem);
}

#wave .st0 {
  opacity: 0.4;
  fill: url(#grad);
  stroke: #1a001a00;
  stroke-width: 0;
}

#wave .w4 {
  -webkit-animation: anim4 15s infinite forwards;
          animation: anim4 15s infinite forwards;
}

@-webkit-keyframes anim4 {
  0% {
    d: path("M0.5-0.5h1800v400c0,0-495,147-900,0c-367.8-133.5-900,0-900,0V-0.5z");
  }
  50% {
    d: path("M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z");
  }
  100% {
    d: path("M0.5-0.5h1800v400c0,0-495,147-900,0c-367.8-133.5-900,0-900,0V-0.5z");
  }
}

@keyframes anim4 {
  0% {
    d: path("M0.5-0.5h1800v400c0,0-495,147-900,0c-367.8-133.5-900,0-900,0V-0.5z");
  }
  50% {
    d: path("M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z");
  }
  100% {
    d: path("M0.5-0.5h1800v400c0,0-495,147-900,0c-367.8-133.5-900,0-900,0V-0.5z");
  }
}

#wave .w3 {
  -webkit-animation: anim3 15s infinite forwards;
          animation: anim3 15s infinite forwards;
}

@-webkit-keyframes anim3 {
  0% {
    d: path("M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z");
  }
  50% {
    d: path("M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z");
  }
  100% {
    d: path("M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z");
  }
}

@keyframes anim3 {
  0% {
    d: path("M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z");
  }
  50% {
    d: path("M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z");
  }
  100% {
    d: path("M0.5-0.5h1800v440c0,0-351-190-900-40c-408.8,111.7-900,0-900,0V-0.5z");
  }
}

#wave .w2 {
  -webkit-animation: anim2 15s infinite forwards;
          animation: anim2 15s infinite forwards;
}

@-webkit-keyframes anim2 {
  0% {
    d: path("M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z");
  }
  50% {
    d: path("M0.5-0.5h1800v400c0,0-432.9-139-789,23c-378,172-1011-23-1011-23V-0.5z");
  }
  100% {
    d: path("M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z");
  }
}

@keyframes anim2 {
  0% {
    d: path("M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z");
  }
  50% {
    d: path("M0.5-0.5h1800v400c0,0-432.9-139-789,23c-378,172-1011-23-1011-23V-0.5z");
  }
  100% {
    d: path("M0.5-0.5h1800v400c0,0-724.7-154.9-1084,0c-399,172-716,33-716,33V-0.5z");
  }
}

#browser {
  width: 300px;
}

#browser-logo {
  -webkit-animation: animateLogo 1.5s infinite alternate ease-in-out;
          animation: animateLogo 1.5s infinite alternate ease-in-out;
}

#browser .cls-1 {
  fill: #3d265f;
}

#browser .cls-2 {
  fill: #6d43a8;
}

#browser .cls-3 {
  fill: #442a6a;
}

#browser .cls-4 {
  fill: #d2c9de;
}

#browser .cls-5 {
  fill: #e2e2e2;
}

#browser .cls-6 {
  fill: #a8a8a8;
}

@-webkit-keyframes animateLogo {
  from {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.1;
  }
  to {
    -webkit-transform: translateX(25px) translateY(-23px);
            transform: translateX(25px) translateY(-23px);
    opacity: 0.8;
  }
}

@keyframes animateLogo {
  from {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.1;
  }
  to {
    -webkit-transform: translateX(25px) translateY(-23px);
            transform: translateX(25px) translateY(-23px);
    opacity: 0.8;
  }
}

#text {
  -webkit-animation: fill 1.5s ease forwards 2.5s;
          animation: fill 1.5s ease forwards 2.5s;
}

#text path:nth-child(1) {
  stroke-dasharray: 498;
  stroke-dashoffset: 498;
  -webkit-animation: text-anim 3s ease forwards;
          animation: text-anim 3s ease forwards;
}

#text path:nth-child(2) {
  stroke-dasharray: 437;
  stroke-dashoffset: 437;
  -webkit-animation: text-anim 3s ease forwards 0.3s;
          animation: text-anim 3s ease forwards 0.3s;
}

#text path:nth-child(3) {
  stroke-dasharray: 409;
  stroke-dashoffset: 409;
  -webkit-animation: text-anim 3s ease forwards 0.6s;
          animation: text-anim 3s ease forwards 0.6s;
}

#text path:nth-child(4) {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  -webkit-animation: text-anim 3s ease forwards 0.9s;
          animation: text-anim 3s ease forwards 0.9s;
}

#text path:nth-child(5) {
  stroke-dasharray: 569;
  stroke-dashoffset: 569;
  -webkit-animation: text-anim 3s ease forwards 1.2s;
          animation: text-anim 3s ease forwards 1.2s;
}

#text path:nth-child(6) {
  stroke-dasharray: 395.8;
  stroke-dashoffset: 395.8;
  -webkit-animation: text-anim 3s ease forwards 1.5s;
          animation: text-anim 3s ease forwards 1.5s;
}

@-webkit-keyframes text-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes text-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text-primary);
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text-primary);
  }
}
/*# sourceMappingURL=styles.css.map */